<div class="intro">
  <div class="animated-bar"></div>

  <div class="slide slide-a">
    <div class="slide-content">
      <p class="slide-a-child"><img src="http://res.cloudinary.com/bimahram-herokuapp-com/image/upload/v1491653541/logo_max_d0zzlp.png" alt=""></p>

      
    </div>
  </div>

  <div class="slide slide-b">
    <div class="slide-content" style="width: 80%">
      <h3 class="slide-b-child">
        « Et parmi Ses signes Il a créé de vous, pour vous,
        des épouses pour que vous viviez en tranquillité avec elles et Il
        a mis entre vous de l’affection et de la bonté. Il y a en cela des preuves
        pour des gens qui réfléchissent. »
      </h3>
      <br>
      <h4>Coran, 30/21 </h4>

    </div>
  </div>

  <div class="slide slide-c">
    <div class="slide-content" style="width: 80%">

      <ul>


        <h3 class="slide-c-child">
          D'après Oqba Ibn Amir (qu'ALLAH l'agrée), le Prophète (que la prière d'ALLAH et Son salut soient
          sur lui) a dit : « Le meilleur mariage est celui qui est le plus facile ».</h3>
        <h4>authentifié par Cheikh Albani dans Sahih Al Jami n°3279</h4>


      </ul>
    </div>
  </div>

  <div class="slide slide-d">
    <div class="slide-content">
      <h2 class="slide-d-child"><img src="https://res.cloudinary.com/bimahram-herokuapp-com/image/upload/v1491666003/rsz_1marhaba_bg0htx.png" alt="">  </h2>
      <span class="slide-d-child">En rentrant sur le site vous acceptez les conditions d'utilisations du site.</a></span>
      <button class=""><a href="/pages/index" class="entree">Entrer</a></button>
    </div>
  </div>

</div>

<style>
  *, *::before, *::after {
    box-sizing: border-box;
    outline: none;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 5px 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .intro {
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
  .intro .animated-bar {
    width: 0;
    height: 3px;
    background: #fff;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bar 7s 3 linear;
    animation: bar 7s 3 linear;
  }
  .intro .slide {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ff0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    overflow: hidden;
  }
  .intro .slide.slide-a {
    background: #3e454d;
    z-index: 400;
  }
  .intro .slide.slide-a .slide-a-child {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .intro .slide.slide-a .slide-a-child.is-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .intro .slide.slide-a p {
    font-size: 25px;
  }
  .intro .slide.slide-b {
    background: #3e454d;
    z-index: 300;
  }
  .intro .slide.slide-b h2 {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  .intro .slide.slide-b p:first-of-type {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    margin-bottom: 20px;
  }
  .intro .slide.slide-b p:last-of-type {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  .intro .slide.slide-b .slide-b-child {
    -webkit-transition: all 2s;
    transition: all 2s;
    opacity: 0;
  }
  .intro .slide.slide-b .slide-b-child.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .intro .slide.slide-c {
    background: #3e454d;
    z-index: 200;
  }
  .intro .slide.slide-c .slide-c-child {
    -webkit-transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
    transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  .intro .slide.slide-c .slide-c-child.is-visible {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .intro .slide.slide-d {
    background: #3e454d;
    z-index: 100;
  }
  .intro .slide.slide-d .slide-d-child {
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  .intro .slide.slide-d .slide-d-child.is-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .intro .slide.slide-d button.slide-d-child {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  .intro .slide .slide-content {
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
  .intro .slide .slide-content h1 {
    font-size: 70px;
    font-weight: 400;
    margin: 20px 0;
  }
  .intro .slide .slide-content h2 {
    font-size: 60px;
    font-weight: 400;
    margin: 20px 0;
  }
  .intro .slide .slide-content p {
    font-size: 25px;
    font-weight: 300;
  }
  .intro .slide .slide-content p a {
    color: #b6483d;
    text-decoration: none;
    position: relative;
  }
  .intro .slide .slide-content p a:hover::after {
    width: 180px;
  }
  .intro .slide .slide-content p a::after {
    content: "";
    width: 0;
    height: 1px;
    background: #b6483d;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .intro .slide .slide-content ul li {
    display: inline-block;
  }
  .intro .slide .slide-content ul li p {
    position: relative;
  }
  .intro .slide .slide-content ul li p::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    display: inline-block;
    margin: 0 20px;
    border-radius: 50%;
  }
  .intro .slide .slide-content ul li:last-of-type p::after {
    display: none;
  }
  .intro .slide .slide-content button {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: none;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    background: #CC584C;
    margin-top: 30px;
    border: 2px solid transparent;
    -webkit-transition: all 0.5;
    transition: all 0.5;
    cursor: pointer;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .intro .slide .slide-content button:hover {
    background: none;
    border: 2px solid #CC584C;
    color: #b6483d;
  }

  @-webkit-keyframes bar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes bar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 50px !important;
    }

    h2 {
      font-size: 45px !important;
    }

    p {
      font-size: 22px !important;
    }
    p a:hover::after {
      width: 160px !important;
    }
  }
  @media (max-width: 768px) {
    .slide-c-child {
      display: block !important;
    }

    p::after {
      display: none !important;
    }

    button.replay {
      width: 80px !important;
      height: 80px !important;
      line-height: 80px !important;
      font-size: 14px !important;
    }

    a:hover::after {
      width: 140px !important;
    }
  }
  @media (max-width: 480px) {
    h1 {
      font-size: 40px !important;
    }

    h2 {
      font-size: 33px !important;
    }

    p {
      font-size: 18px !important;
    }
    p a:hover::after {
      width: 130px !important;
    }
  }
  a.entree {
    color: white;
  }
  a:visited {
    color: white;
  }

  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  }

</style>

<script type="text/javascript" charset="utf-8">
  /*global $, document, setTimeout, i*/
  $(document).ready(function () {

      'use strict';

      var slide  = $('.slide'),
          slideAelements = $('.slide-a-child'),
          slideBelements = $('.slide-b-child'),
          slideCelements = $('.slide-c-child'),
          slideDelements = $('.slide-d-child'),
          replay = $('button.replay');



      slide.each(function (i) {
          if (i < 3) {
              setTimeout(function () {
                  slide.eq(i).fadeOut();
              }, 9000 * (i + 1));
          }
      });


      function animateSlideA() {
          slideAelements.each(function (i) {
              setTimeout(function () {
                  slideAelements.eq(i).addClass('is-visible');
              }, 300 * (i + 1));
          });
      }

      function animateSlideB() {
          slideBelements.each(function (i) {
              setTimeout(function () {
                  slideBelements.eq(i).addClass('is-visible');
              }, 300 * (i + 1));
          });
      }

      function animateSlideC() {
          slideCelements.each(function (i) {
              setTimeout(function () {
                  slideCelements.eq(i).addClass('is-visible');
              }, 150 * (i + 1));
          });
      }

      function animateSlideD() {
          slideDelements.each(function (i) {
              setTimeout(function () {
                  slideDelements.eq(i).addClass('is-visible');
              }, 300 * (i + 1));
          });
      }

      animateSlideA();

      setTimeout(function () {
          animateSlideB();
      }, 5000);

      setTimeout(function () {
          animateSlideC();
      }, 10000);

      setTimeout(function () {
          animateSlideD();
      }, 15000);


      replay.on('click', function () {
          location.reload(true);
      });

  });

</script>