<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-2 col-xs-4">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-2 col-xs-4">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-2 col-xs-4">
          <h3> Lorem Ipsum </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>

      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Bimahram 2017. All right reserved. </p>
      <div class="pull-right">

      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>